[phases.setup]
nixPkgs = ["nodejs_20", "yarn"]

[phases.install]
cmds = [
  "yarn install --frozen-lockfile"
]

[phases.build]
cmds = [
  "yarn medusa build"
]

[start]
cmd = "yarn medusa build && yarn medusa db:migrate && yarn start"